*_ert_linux/
slprj/
/examples/smartphone-imu/smartphone_imu_receiver
/examples/smartphone-imu/smartphone_imu_data*.mat
/examples/smartphone-imu/oriestimu_demo_smartphone
/examples/oriestimu/oriestimu_demo_smartphone
/examples/oriestimu/oriestimu_demo_xsens
.idea/
/examples/root-locus/simulink/quadcop_wok
*.slx.autosave
*.slx.r*
/examples/back-posture/simulink/back_posture_sim
/examples/back-posture/simulink/back_posture_xsens
/demos/smartphone-imu/standalone/
/demos/root-locus/simulink/quadcop_wok
/demos/oriestimu/simulink/0034*/
/demos/imu-rawdata-magdist/simulink/0034*/
/demos/back-posture/simulink/back_posture_xsens
